DATABASE_URL=

PORT=3001
FRONTEND_URL=http://localhost:3002

AUTH0_DOMAIN=
AUTH0_AUDIENCE=

DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_USER_ID=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_PRIVATE_KEY=
DOCUSIGN_BASE_URL=https://demo.docusign.net

SENDGRID_API_KEY=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

JWT_SECRET=

AUTO_DEV_API_KEY=
UNSPLASH_ACCESS_KEY=
